[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
scikit-learn = "*"
seaborn = "*"
statsmodels = "*"
jupyter = "*"
tqdm = "*"
msgpack = "*"
pillow = "*"
tensorflow-gpu = "*"
keras = "*"
xgboost = "*"
jinja2 = "*"
nltk = "*"
pytest = "*"
pytest-pep8 = "*"
flask = "*"
mysql = "*"

[requires]
python_version = "3.6"
